asgiref
attrs
Django
django-appconf
django-cors-headers
django-filter
django-staticfiles
djangorestframework
djangorestframework-simplejwt
drf-spectacular
drf-yasg
gunicorn
inflection
jsonschema
jsonschema-specifications
packaging
pillow
postgres
psycopg2-binary
psycopg2-pool
PyJWT
python-dotenv
pytz
PyYAML
referencing
rpds-py
setuptools
sqlparse
tzdata
uritemplate
